@use "../abstracts" as *;

.footer {
  min-height: 20rem;
  background-image: linear-gradient(to right bottom, #030031, #010012);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__accounts {
    min-height: 50%;
    min-width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    font-size: $font-size-default;
    font-weight: 500;
    flex: 0 1 5rem;
  }

  &__logo {
    margin-bottom: 3rem;
  }

  &__legal {
    color: $color-gray-400;
  }
}
