@use '../abstracts/' as *;

@keyframes moveInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: 0;
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: 0;
    opacity: 1;
  }
}

@keyframes blinking {
  0%, 40% {
    background-color: $color-secondary-500;
    background-image: linear-gradient(
      to bottom,
      $color-secondary-500 80%,
      rgba($color-black, 0.8) 95%
    );
    -webkit-background-clip: text;
    color: transparent;
  }


  45%, 55% {
    background-color: transparent;
    background-image: none;
  }


  60%,100% {
    background-color: $color-secondary-500;
    background-image: linear-gradient(
      to bottom,
      $color-secondary-500 80%,
      rgba($color-black, 0.8) 95%
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}
