@use "../abstracts" as *;

.heading-primary {
  position: absolute;

  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--main {
    display: block;

    animation: moveInLeft 0.7s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    color: $color-gray-500;
    min-width: 40ch;
    max-width: 70ch;

    animation: moveInRight 0.7s ease-out 0.7s;
    animation-fill-mode: backwards;

    img {
      max-width: 100%;
      float: right;
      margin-left: 5%;
      margin-top: 3%;
      height: auto;
    }
  }
}

.projects {
  background-color: $color-gray-100;
  text-align: center;
}
