.test {
  height: 200vw;
  //   background-image: linear-gradient(to bottom, #260a02, #481304);
  background-color: #1a0701;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__intro--main {
    padding-left: 12rem;
  }

  &__header {
    font-size: 10rem;
    font-weight: 900;
    letter-spacing: 0.8rem;
    color: #8d8d8d;
  }

  &__intro--sub {
    height: 50rem;
    width: 100%;
    // background-image: linear-gradient(to bottom, #a08863, #afafdc);
    // background-color: #010324;
    background-image: linear-gradient(
      to bottom,
      #1a0701 2%,
      #010324 5%,
      #010324 90%,
      #1a0701 95%
    );

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__text {
    font-size: 4rem;
    flex: 0 0 60%;
    color: #e3e9ff;
  }

  &__image-container {
    flex: 0 0 40rem;
    height: 40rem;
    display: flex;
    align-items: center;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}
