@use "../abstracts" as *;
@use "../base" as *;

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

.intro {
  height: 110vh;
  background-image: linear-gradient(to right bottom, #030031, #010012);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  // 1000px
  @media only screen and (max-height: 62.5em) {
    
  }

  //850px
  @media only screen and (max-height: 53.125em) {
    
  }

  
  &__container {
    margin-top: -10rem;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-height: 62.5em) {
      height: 90%;
    }
  }

  &__title {
    font-family: 'Arvo', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    color: $color-primary-0;
    letter-spacing: 0.4rem;
    
    &__blinking {
      animation: blinking 1.5s infinite;
    }
    
    @media only screen and (max-height: 53.125em) {
      font-size: 5rem;
    }
  }
  
  &__inline-wrapper {
    display: inline-block;
    text-align: center;
  }
  
  &__subtitle {
    font-size: 3.5rem;
    font-weight: 700;
    display: inline !important; // For box-decoration-break to work
    background-image: linear-gradient(
      to bottom,
      $color-secondary-500 30%,
      $color-black 90%
      );
      -webkit-background-clip: text;
      color: transparent;
      text-align: center;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;


    @media only screen and (max-height: 53.125em) {
      font-size: 3rem;
    }
  }

  &__image {
    width: 400px;

    @media only screen and (max-height: 53.125em) {
      width: 300px;
    }
  }

  &__button-container {
    margin-right: -2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__social-container {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
  }

  &__social {
    background-color: transparent;
    border: none;
    width: 6rem;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-0.4rem);
    }

    @media only screen and (max-height: 53.125em) {
      width: 5rem;
    }
  }
}

.about{

  background-image: linear-gradient(to right bottom, $color-secondary-0, #fff);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10rem;
  }

  &__title {
    color: $color-primary-700;
    align-self: flex-start;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__speech-bubble {
    flex: 1 1 70%;
    position: relative;
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &__text {
    position: relative;
    z-index: 1;
    // top: 0;
    // left: 0;
    // padding: 3rem 9rem 3rem 5rem;
    padding: 3rem 9rem 3rem 5rem;
    color: $color-gray-0;
    font-size: 2.5rem;
  }

  &__image {
    flex: 0 1 10rem;
    display: inline-block;
    align-self: flex-end;

    @include respond(phone) {
      display: none;
    }
  }
}

.projects {
  background-image: linear-gradient(to right bottom, #030031, #010012);
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
  padding: 15rem 0rem;
  
  &__title {
    margin-bottom: 8rem;
    color: $color-primary-0;
    // background-image: linear-gradient(
    //   to bottom,
    //   $color-secondary-500 20%,
    //   $color-black 
    // );
    // -webkit-background-clip: text;
    // color: transparent;
  }
  
  &__container {

  }
}

.project {
  width: 95vw;
  position: relative;
  left: calc(-47.5vw + 50%);
  padding: 2rem 3rem;
  color: $color-primary-0;

  display: flex;
  justify-content: center;
  column-gap: 3rem;

  @media only screen and (max-width: 1500px) {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 4rem;
  }
  
  &:not(:last-child) {
    margin-bottom: 15rem;
  }


  &__image-container {
    flex: 1;
    max-width: 100rem;
    align-self: center;
  }
  
  &__image {
    border-radius: $border-radius-1;
    max-width: 100rem;
  }
  
  &__text-container {
    flex: 1;
    max-width: 70ch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 3rem;
  }

  &__title {
    margin-top: -1.3rem;
    line-height: 6rem;
    border-bottom: 3px solid $color-secondary-500;
    
  }

  &__description {
    color: $color-gray-0;
    font-size: 2rem;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
  }
  
  &__stack {
    color: $color-secondary-500;
    font-style: italic;
    text-align: center;
  }
  
  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}

.contact {
  height: 150rem;
  padding: 15rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 60%;
    height: 80rem;
    // height: 70%;
    padding: 3rem 5rem;
    background-image: linear-gradient(to right bottom, $color-primary-700, $color-primary-900);
    border-radius: $border-radius-2;

    @include respond(tab-port) {
      width: 100%;
    }
  }
  
  &__title {
    align-self: flex-start;
    color: $color-primary-700;
    margin-bottom: 8rem;
  }

  &__subtitle {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 5rem;
    color: $color-primary-0;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid $color-secondary-500;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__link {
    &:visited, &:link {
      text-decoration: none;

      color: $color-secondary-500;
      // background-image: linear-gradient(
      //   to bottom,
      //   $color-secondary-500 60%,
      //   $color-black
      // );
      // -webkit-background-clip: text;
      // color: transparent;
      // -webkit-box-decoration-break: clone;
      // box-decoration-break: clone;
    }
  }

  &__form {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__form-group {
    position: relative;
    width: 90%;
    margin-top: 2rem;
  }

  &__form-label {
    position: absolute;
    top: -4rem;
    left: 0;
    font-size: inherit;
    font-weight: inherit;
    margin-left: 2rem;
    transition: all 0.3s;
    color: $color-primary-0;
  }

  &__form-control {
    font-family: inherit;
  
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: $border-radius-1;
    background-color: rgba($color-primary-0, 1);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary-500;
    }
   
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-500;
    }

    &::-webkit-input-placeholder {
      color: $color-primary-700;
    }

    &:placeholder-shown + .contact__form-label {
      opacity: 0;
      color: $color-primary-0;
      visibility: hidden;
      transform: translateY(4rem);
    }

    // Changes autofill to match input fields.
    &:-webkit-autofill::first-line {
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
    }
  }

  &__submit {
  }
}