@use "../abstracts/" as *;
@use "../components/" as *;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  font-size: 2rem;
  background-color: $color-gray-900;
  height: 8rem;
  z-index: 1;
  padding: 0 10rem;

  &__brand {
    // span {
    //   font-size: 1.3rem;
    //   font-weight: 700;
    //   vertical-align: middle;
    // }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
  }

  &__logo {
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__item {
    background-color: $color-gray-700;
    padding: 1rem 2rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__dark-mode {
    font-size: 3rem;
    color: $color-yellow;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
  }
}

// .menu-item {
//   display: flex;
//   width: 50%;
//   justify-content: space-evenly;
//   font-size: 1.3rem;
//   font-weight: 400;
// }

// .menu-item a {
//   text-decoration: none;
// }

// .button-item {
// }
